<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="css/twig.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        
        {% endblock %}


    </body>
</html>
